


@import "tailwindcss";
@plugin "daisyui";

.custom-popup-border {
  border-top: 3px solid rgb(0, 51, 255);
  border-left: 3px solid rgb(179, 0, 255);
  border-right: 3px solid rgb(179, 0, 255);
   border-bottom: 3px solid rgb(0, 51, 255);
  border-radius: 12px;
}
